lib/types.xsd

 <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="types">
    <xs:complexType>

      <xs:sequence>

        <xs:element name="type" maxOccurs="unbounded" minOccurs="1">

          <xs:complexType>

              <xs:sequence>

                <xs:element type="xs:short" name="nominal"/>
                <xs:element type="xs:int" name="lifetime"/>
                <xs:element type="xs:short" name="restock"/>
                <xs:element type="xs:byte" name="min"/>
                <xs:element type="xs:byte" name="quantmin"/>
                <xs:element type="xs:byte" name="quantmax"/>
                <xs:element type="xs:short" name="cost"/>

                <xs:element name="flags" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:byte" name="count_in_cargo" use="required"/>
                        <xs:attribute type="xs:byte" name="count_in_hoarder" use="required"/>
                        <xs:attribute type="xs:byte" name="count_in_map" use="required"/>
                        <xs:attribute type="xs:byte" name="count_in_player" use="required"/>
                        <xs:attribute type="xs:byte" name="crafted" use="required"/>
                        <xs:attribute type="xs:byte" name="deloot" use="required"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>

                <xs:element name="category" maxOccurs="1" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="name" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>

                <xs:element name="tag" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="name" use="required"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>

                <xs:element name="usage" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="name" use="required"/>
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>

                <xs:element name="value" maxOccurs="unbounded" minOccurs="0">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute type="xs:string" name="name" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                
              </xs:sequence>

            <xs:attribute type="xs:string" name="name" use="required"/>

          </xs:complexType>

        </xs:element>
        
      </xs:sequence>

    </xs:complexType>
  </xs:element>
</xs:schema>